html{
    font-size: 62.5%;
}

body{font-family: 'Poppins', sans-serif;
margin: 0rem;
padding:0rem;}

/* Header Section CSS */
#headerSection{
    padding-top: 4.2rem;
    background: #2D25A0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width:100%;
}

#headerSection nav{
    box-sizing: border-box;
    width:100%;
    display:flex;
    justify-content: space-around;
}
#headerSection nav ul{
    display:flex;
    width:58.7rem;
    box-sizing: border-box;
    align-items: center;
}
#headerSection nav ul li{
    list-style-type: none;
    display: inline;
}
#headerSection nav ul li a{
    text-decoration: none;
    color:#FFFFFF;
    margin-right: 1.5rem;
    font-size: 1.4rem;
}

#loginButton{
    width: 12.3rem;
    height: 4.4rem;
    background: #E02C6D;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
}

#loginButton:hover{
    text-decoration: underline;
}

#clubTheme{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    box-sizing: border-box;
    margin:0rem 5rem;
    padding:10.2rem; 
}

.clubTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding:3.5rem;
    
}
.clubTitle h1{
    color:#FFFFFF;
    font-weight: bold;
    font-size: 6rem;
    line-height: 8rem;
    margin-bottom: 0.5rem;
}
#watchLiveBtn{
    width:16.8rem;
    height:4.4rem;
    background: #E02C6D;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.5rem;
    color:#FFFFFF;
    text-decoration: none;
    border:none;
    margin: 0rem;
}
#watchLiveBtn:hover{
    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: 1s;
    transform: scale(1.1);
}
#watchLiveBtnContainer{
    width:100%;
    margin:0rem;
}

.clubImageTheme{
    padding:3.5rem;
    
}
.clubImage img{
    width: 100%;
}

@keyframes imageSpin {
    from {transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.clubImage img:hover {
    animation-name: imageSpin;
    animation-duration: 1s;
    animation-iteration-count: 2;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;
}
/* Main Content */
/* Player Card Section */
#mainSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

#playerCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;  
}
.card{
    box-sizing: border-box;
    width:33rem;
    height: 47.4rem;
    padding:1.5rem 1.5rem 3.3rem 1.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.insideCard{
    box-sizing: border-box;
    width:30rem;
    height:42.6rem;
}
.insideCard img{
    width:100%;
}
.playerTitle{
    font-size: 2.8rem;
    font-weight: bold;
    margin:1rem 0rem;
}
.playerDescription{
    color:#6C6C6C;
    font-size: 1.6rem;
    margin:0rem;
    line-height: 2.6rem;
}

/* Hight Light Section */
#hightlight{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    margin-top: 8.6rem;
    padding:4rem;
}

.highlightBox{
    width:46.9rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.highlightImage{
    width:100%;
    height: auto;
   
}
.highlightImage img{
    width:100%;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px #6C6C6C;
}
.highlightTitle  {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 6.0rem;  
    margin:0rem 0rem 0rem 0rem;  
}

#hightlightButton{
    width:17.3rem;
    height:4.4rem;
    background:#E02C6D;
    color:#FFFFFF;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 5px;
}
#hightlightButton:hover{
    text-decoration: underline;
}
.highlightDescription{
    font-size: 1.6rem;
    color: #6C6C6C;
    line-height: 2.8rem;
    margin: 2rem 0rem 2rem; 
}

/* Footer Setion CSS */
#footerSection{
    width:100%;
}
.footerImamge {
    width:48.3rem;
    height:11.0rem;
}
.footerImamge img{
    width:100%;
}
#footerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconCotainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconBox {
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width:15.8rem;
}
.icon{
    width:3.5rem;
    height:3.5rem;
    border-radius: 50%;
    background: rgba(11, 13, 23,0.1);
    display:flex;
    justify-content: center;
    align-items: center;
}

.iconBox .icon a{
    color:#969BAB;
    font-size: 1.2rem;
}

@media (max-width:425px){
    .playerDescription{
        padding:2rem;
    }
    /* #headerSection{
        width:100%;
        margin: 0rem;
    }
    #mainSection{
        width:100%;
    } */
    #headerSection nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #headerSection nav ul{
        width:100%;
    }
    
    #clubTheme{
        grid-template-columns: 1fr;
        padding:0rem;
        margin:0rem;
    }
    .clubTitle{
        padding:1rem;
    }
    .clubTitle h1{
        font-size: 5rem;
    }
    /* #navButton{
        width:100%;
    } */
    #playerCard{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .card{
        width:100%;
        padding:0rem;
    }
    /* .highlightImage{
        width:100%;
        height:auto;
    } */

    .highlightBox{
        width:100%;
        height:auto;
        margin-bottom: 1rem;
    }
    #hightlight{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        margin-top: 4.6rem;
        padding:4rem;
    }
    .highlightTitle{
        font-size: 3.8rem;
    }

    .footerImamge {
        width:100%;
        height:auto;
    }
}

@media (min-width:430px) and (max-width:768px){
    #headerSection{
        width:100%;
    }
    
    #clubTheme{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        padding:0rem; 
    }
    #playerCard{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    #hightlight{
        grid-template-columns:1fr;
        grid-template-rows: 2fr;
    }
    #hightlightButton{
        margin-bottom: 1rem;
    }
}

